img{
    max-width: 18%;
    padding-bottom: 2%;
}

h1, h2{
    text-align: center;
}

.imagenes{
    display: 'flex'; 
    align-items: 'center';
    max-width: 13rem;
    min-width: 10rem;
}

button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none; /* for button */
     -webkit-appearance: button; /* for input */
       -moz-user-select: none;
        -ms-user-select: none;
  }

.contenedor {
    display: flex;
    justify-content: space-around;
}

.centrar {
    display: flex;
    justify-content: center;
}